In [4]:
import pandas as pd
df = pd.read_json('files/mine.json')

print(df)
print()
print(df.sort_values(by=['Time'], ascending=False))

                    Name   Time  Level                pin
0          Thomas Edison    181    100              aspoi
1         Nicholas Tesla    613    200              brian
2   Alexander Grand Bell    440    123              23451
3            Eli Whitney    369    432                who
4         John Mortensen  36981    340               apcs
5    aj ruiz im soo cool     36      1       imreallycool
6         you the viewer     74      1  wow, your so cool
7                   aras      0      0               asdf
8                   1234      0      0               1234
9             le creator     17      0          imadethis
10           le creatorr    155      6  ineedtomakeupdate

                    Name   Time  Level                pin
4         John Mortensen  36981    340               apcs
1         Nicholas Tesla    613    200              brian
2   Alexander Grand Bell    440    123              23451
3            Eli Whitney    369    432                who
0          Thomas Edison    181    100              aspoi
10           le creatorr    155      6  ineedtomakeupdate
6         you the viewer     74      1  wow, your so cool
5    aj ruiz im soo cool     36      1       imreallycool
9             le creator     17      0          imadethis
7                   aras      0      0               asdf
8                   1234      0      0               1234

In [5]:
print(df[df.Level == df.Level.max()])
print()
print(df[df.Level == df.Level.min()])

          Name  Time  Level  pin
3  Eli Whitney   369    432  who

         Name  Time  Level        pin
7        aras     0      0       asdf
8        1234     0      0       1234
9  le creator    17      0  imadethis